body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1028px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:34px;
  top:23px;
  width:980px;
  height:800px;
  font-size:14px;
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:34px;
  top:23px;
  width:980px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:51px;
  top:27px;
  width:50px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:101px;
  top:27px;
  width:50px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:151px;
  top:27px;
  width:50px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:199px;
  top:27px;
  width:50px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:249px;
  top:27px;
  width:50px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:926px;
  top:28px;
  width:50px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:978px;
  top:28px;
  width:50px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:366px;
  top:26px;
  width:200px;
  height:23px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:23px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:527px;
  top:28px;
  width:38px;
  height:20px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:820px;
  top:52px;
  width:96px;
  height:98px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:98px;
}
#u22 {
  position:absolute;
  left:2px;
  top:41px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:820px;
  top:28px;
  width:96px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:820px;
  top:80px;
  width:96px;
  height:28px;
  font-size:15px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u26 {
  position:absolute;
  left:0px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:820px;
  top:108px;
  width:96px;
  height:28px;
  font-size:15px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:820px;
  top:52px;
  width:96px;
  height:28px;
  font-size:15px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u30 {
  position:absolute;
  left:0px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:753px;
  top:31px;
  width:65px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:101px;
  top:81px;
  width:130px;
  height:61px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:61px;
}
#u34 {
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:404px;
  top:734px;
  width:93px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:496px;
  top:735px;
  width:10px;
  height:15px;
}
#u38_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u38_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u38_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u39 {
  position:absolute;
  left:517px;
  top:734px;
  width:57px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:594px;
  top:734px;
  width:63px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:574px;
  top:736px;
  width:10px;
  height:15px;
}
#u43_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u43_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u43_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u44 {
  position:absolute;
  left:508px;
  top:760px;
  width:141px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:667px;
  top:734px;
  width:63px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:651px;
  top:735px;
  width:10px;
  height:15px;
}
#u48_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u48_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u48_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u49 {
  position:absolute;
  left:101px;
  top:250px;
  width:849px;
  height:430px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:430px;
}
#u50 {
  position:absolute;
  left:2px;
  top:207px;
  width:845px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:115px;
  top:300px;
  width:820px;
  height:360px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:360px;
}
#u52 {
  position:absolute;
  left:2px;
  top:172px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:116px;
  top:264px;
  width:107px;
  height:26px;
  color:#000000;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u54 {
  position:absolute;
  left:0px;
  top:5px;
  width:107px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:130px;
  top:360px;
  width:795px;
  height:221px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:30px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:387px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:391px;
  top:0px;
  width:101px;
  height:30px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:492px;
  top:0px;
  width:122px;
  height:30px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:614px;
  top:0px;
  width:102px;
  height:30px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:716px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:30px;
  width:391px;
  height:36px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:36px;
}
#u67 {
  position:absolute;
  left:2px;
  top:10px;
  width:387px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:391px;
  top:30px;
  width:101px;
  height:36px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u69 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:492px;
  top:30px;
  width:122px;
  height:36px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u71 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:614px;
  top:30px;
  width:102px;
  height:36px;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u73 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:716px;
  top:30px;
  width:74px;
  height:36px;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u75 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:0px;
  top:66px;
  width:391px;
  height:30px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:387px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:391px;
  top:66px;
  width:101px;
  height:30px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:492px;
  top:66px;
  width:122px;
  height:30px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:614px;
  top:66px;
  width:102px;
  height:30px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:716px;
  top:66px;
  width:74px;
  height:30px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:0px;
  top:96px;
  width:391px;
  height:30px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:387px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:391px;
  top:96px;
  width:101px;
  height:30px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:492px;
  top:96px;
  width:122px;
  height:30px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:614px;
  top:96px;
  width:102px;
  height:30px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:716px;
  top:96px;
  width:74px;
  height:30px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:126px;
  width:391px;
  height:30px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:387px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:391px;
  top:126px;
  width:101px;
  height:30px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:492px;
  top:126px;
  width:122px;
  height:30px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:614px;
  top:126px;
  width:102px;
  height:30px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u103 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:716px;
  top:126px;
  width:74px;
  height:30px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:156px;
  width:391px;
  height:30px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:30px;
}
#u107 {
  position:absolute;
  left:2px;
  top:7px;
  width:387px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:391px;
  top:156px;
  width:101px;
  height:30px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u109 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:492px;
  top:156px;
  width:122px;
  height:30px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u111 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:614px;
  top:156px;
  width:102px;
  height:30px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u113 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:716px;
  top:156px;
  width:74px;
  height:30px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u115 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:186px;
  width:391px;
  height:30px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:30px;
}
#u117 {
  position:absolute;
  left:2px;
  top:7px;
  width:387px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:391px;
  top:186px;
  width:101px;
  height:30px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u119 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:492px;
  top:186px;
  width:122px;
  height:30px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u121 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:614px;
  top:186px;
  width:102px;
  height:30px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u123 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:716px;
  top:186px;
  width:74px;
  height:30px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u125 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:420px;
  top:610px;
  width:40px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:590px;
  top:610px;
  width:40px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:644px;
  top:610px;
  width:27px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:380px;
  top:610px;
  width:27px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:492px;
  top:610px;
  width:10px;
  height:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:512px;
  top:610px;
  width:10px;
  height:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:530px;
  top:610px;
  width:10px;
  height:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:548px;
  top:610px;
  width:13px;
  height:16px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:472px;
  top:610px;
  width:17px;
  height:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:572px;
  top:610px;
  width:13px;
  height:16px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:101px;
  top:180px;
  width:849px;
  height:40px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:40px;
}
#u148 {
  position:absolute;
  left:2px;
  top:12px;
  width:845px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:101px;
  top:180px;
  width:99px;
  height:40px;
  text-align:center;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u150 {
  position:absolute;
  left:0px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:198px;
  top:180px;
  width:10px;
  height:40px;
}
#u151_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u151_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u151_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u152 {
  position:absolute;
  left:208px;
  top:180px;
  width:99px;
  height:40px;
  text-align:center;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u153 {
  position:absolute;
  left:0px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
