body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1014px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:34px;
  top:23px;
  width:980px;
  height:800px;
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
