body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1028px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:34px;
  top:23px;
  width:980px;
  height:800px;
  font-size:14px;
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:101px;
  top:81px;
  width:130px;
  height:61px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:61px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:230px;
  top:160px;
  width:10px;
  height:470px;
}
#u4_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u4_end {
  position:absolute;
  left:-5px;
  top:453px;
  width:20px;
  height:18px;
}
#u4_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:470px;
}
#u5 {
  position:absolute;
  left:235px;
  top:260px;
  width:525px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:508px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:525px;
  height:1px;
}
#u6 {
  position:absolute;
  left:242px;
  top:162px;
  width:508px;
  height:98px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:98px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:248px;
  top:215px;
  width:40px;
  height:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:352px;
  top:215px;
  width:40px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:298px;
  top:215px;
  width:40px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:242px;
  top:276px;
  width:508px;
  height:364px;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:364px;
}
#u14 {
  position:absolute;
  left:2px;
  top:116px;
  width:504px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:760px;
  top:276px;
  width:180px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#006600;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:299px;
  top:192px;
  width:52px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:244px;
  top:192px;
  width:52px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:343px;
  top:192px;
  width:57px;
  height:19px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:252px;
  top:100px;
  width:450px;
  height:52px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:52px;
}
#u24 {
  position:absolute;
  left:0px;
  top:18px;
  width:450px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:34px;
  top:23px;
  width:980px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:51px;
  top:27px;
  width:50px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:101px;
  top:27px;
  width:50px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:151px;
  top:27px;
  width:50px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:199px;
  top:27px;
  width:50px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u34_img.mouseOver {
}
#u34.mouseOver {
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:249px;
  top:27px;
  width:50px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u36_img.mouseOver {
}
#u36.mouseOver {
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:926px;
  top:28px;
  width:50px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:978px;
  top:28px;
  width:50px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:366px;
  top:26px;
  width:200px;
  height:23px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:23px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43 {
  position:absolute;
  left:527px;
  top:28px;
  width:38px;
  height:20px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u44 {
  position:absolute;
  left:820px;
  top:52px;
  width:96px;
  height:98px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:98px;
}
#u45 {
  position:absolute;
  left:2px;
  top:41px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:820px;
  top:28px;
  width:96px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:820px;
  top:80px;
  width:96px;
  height:28px;
  font-size:15px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u49 {
  position:absolute;
  left:0px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:820px;
  top:108px;
  width:96px;
  height:28px;
  font-size:15px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u51 {
  position:absolute;
  left:0px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:820px;
  top:52px;
  width:96px;
  height:28px;
  font-size:15px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u53 {
  position:absolute;
  left:0px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:753px;
  top:31px;
  width:65px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:371px;
  top:684px;
  width:93px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:463px;
  top:685px;
  width:10px;
  height:15px;
}
#u59_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u59_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u59_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u60 {
  position:absolute;
  left:484px;
  top:684px;
  width:57px;
  height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:561px;
  top:684px;
  width:63px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:541px;
  top:686px;
  width:10px;
  height:15px;
}
#u64_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u64_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u64_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u65 {
  position:absolute;
  left:475px;
  top:710px;
  width:141px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:634px;
  top:684px;
  width:63px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:618px;
  top:685px;
  width:10px;
  height:15px;
}
#u69_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u69_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u69_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u71 {
  position:absolute;
  left:157px;
  top:160px;
  width:63px;
  height:36px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u72 {
  position:absolute;
  left:0px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:132px;
  top:165px;
  width:29px;
  height:26px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u74 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:132px;
  top:190px;
  width:88px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u76 {
  position:absolute;
  left:157px;
  top:202px;
  width:63px;
  height:36px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u77 {
  position:absolute;
  left:0px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:132px;
  top:207px;
  width:29px;
  height:26px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u79 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:132px;
  top:232px;
  width:88px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u81 {
  position:absolute;
  left:157px;
  top:244px;
  width:63px;
  height:36px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u82 {
  position:absolute;
  left:0px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:132px;
  top:249px;
  width:29px;
  height:26px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u84 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:132px;
  top:274px;
  width:88px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u86 {
  position:absolute;
  left:157px;
  top:286px;
  width:63px;
  height:36px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u87 {
  position:absolute;
  left:0px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:132px;
  top:291px;
  width:29px;
  height:26px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u89 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:132px;
  top:316px;
  width:88px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u91 {
  position:absolute;
  left:157px;
  top:328px;
  width:63px;
  height:36px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u92 {
  position:absolute;
  left:0px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:132px;
  top:333px;
  width:29px;
  height:26px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u94 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:132px;
  top:358px;
  width:88px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
