<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" /> 
  <meta name="keywords" content="..." /> 
  <title>vf_index</title> 
  <link href="css/lib/bootstrap.min.css" rel="stylesheet" /> 
  <link hrer="css/css_hander/index/vfinder.css" rel="stylesheet"/>  <!--  js 首页样式-->
  <script src="js/lib/jquery-1.11.3.min.js"></script> 
  <script src="js/lib/bootstrap.js"></script> 
  <script src="js/lib/jquery.lazyload.min.js"></script>
  <script src="js/hander/index/vfinder.js"></script>   <!--  js 首页-->

  <style>
  body{
    padding-top: 70px;
  }
  </style> 
 </head> 
<body> 

<!-- 头部 start-->
  <div id="header">
    <div class="carousel-inner"> 
     <div class="navbar navbar-fixed-top" style="background:#ffffff; border:2px #000000 solid;"> 
      <p class="navbar-text pull-left">首页</p> 
      <p class="navbar-text pull-left">电影</p> 
      <p class="navbar-text pull-left">剧集</p> 
      <p class="navbar-text pull-left">音乐</p> 
      <p class="navbar-text pull-left">书记</p> 
      <p class="navbar-text pull-left"><input type="text" id="global_select" placeholder="搜索" style="width:100%;"></p> 
      <p class="navbar-text pull-right"><button type="button" class="btn " onclick="open_modal_login()">登陆</button> </p> 
      <p class="navbar-text pull-right"><button type="button" class="btn " onclick="open_modal_register()">注册</button> </p> 
      <p class="navbar-text pull-right"> EN</p> 
     </div> 
    </div> 
   </div> 
  <!-- 头部 end-->

<!--  main start-->
<div id="main">
   <div class="row-fluid">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img src=""/>
      </div>
   </div>
   <!--  电影 start-->
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
        <img src=""/>电影
   </div>
   <div class="row-fluid class-video" style="text-align:center; padding:20px 150px ;">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="border:2px #00ffcc solid;">
       名称
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="border:2px #00ffcc solid;">
       大小
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="border:2px #00ffcc solid;">
       版本
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="border:2px #00ffcc solid;">
       个数
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="border:2px #00ffcc solid;">
       时间
      </div>
   </div>
   <!--  电影 end-->


   <!--  剧集 start-->
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
        <img src=""/>剧集
   </div>
   <div class="row-fluid class-video" style="text-align:center; padding:20px 150px ;">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="border:2px #00ffcc solid;">
       名称
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="border:2px #00ffcc solid;">
       大小
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="border:2px #00ffcc solid;">
       版本
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="border:2px #00ffcc solid;">
       个数
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="border:2px #00ffcc solid;">
       时间
      </div>
   </div>
   <!--  剧集 end-->

   <!--  音乐 start-->
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
        <img src=""/>音乐
   </div>
   <div class="row-fluid class-video" style="text-align:center; padding:20px 150px ;">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="border:2px #00ffcc solid;">
       名称
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="border:2px #00ffcc solid;">
       大小
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="border:2px #00ffcc solid;">
       版本
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="border:2px #00ffcc solid;">
       个数
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="border:2px #00ffcc solid;">
       时间
      </div>
   </div>
   <!--  音乐 end-->


</div>

<!--  main end-->

<!-- 底部tart-->
<div id="bottom">
    <div class="carousel-inner"> 
     <div class="navbar navbar-fixed-bottom" style="background:#ffffff; border:2px #000000 solid;"> 

      <div class="row">
      <div class="col-sm-12" style="text-align:center">
        <span>
          关于vFinder.cn
        </span>
        |
        <span>
          加入我们
        </span>
        |
        <span>免责声明</span>
      </div>
      <div class="col-sm-12" style="text-align:center; padding:10px 0px;" >
        <span>
          Copyleft vs 2015-2016
        </span>
       </div>
      </div>
     </div> 
    </div> 
 </div> 
<!-- 底部end-->

<!--  login start -->
  <div class="modal fade" id="myModal_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
   <div class="modal-dialog"> 
    <div class="modal-content"> 
     <div class="modal-body"> 
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button> 
      <div class="loginBox row-fluid"> 
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <h2>登陆窗体</h2> 
        <p><input type="text" name="username" placeholder="用户名" style="color:#000000; width:220px;" /></p> 
        <p><input type="password" name="password" placeholder="密码" style="color:#000000;  width:220px;" /></p> 
        <span style="color:red">用来返回ajax 验证错误信息提醒</span> 
        <div class="row-fluid"> 
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left"> 
          <label><input type="checkbox" name="rememberme" checked="checked" />记住密码</label> 
         </div> 
         <div class="spn6 col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
         </div> 
         <div class="span12 "> 
          <input id ="login_submit" type="button" value=" 登陆 " class="btn btn-primary" style="width:100%; left:0;padding:5px 0px 10px 0px;margin:5px 0 5px 0;" /> 
         </div> 
         <div class="span12 "> 
          <a onclick="open_modal_register();">马上注册</a> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="modal-footer">
       		底部
     </div> 
    </div> 
   </div> 
  </div> 
  
<!--  login end -->



<!-- register start -->
<div class="modal fade" id="myModal_register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <form name="form_reg" method="post" action="{$reg_url}" id="form_reg">
                <div class="loginBox row-fluid">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2>注册</h2>
                        <p><input type="text" name="username" placeholder="邮箱号/手机号" style="color:#000000; width:220px;" /></p> 
                    </div>
                    <div class="row-fluid">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p><input type="text" name="username" placeholder="请输入密码" style="color:#000000; width:220px;" /></p>
                            <span>密码为6到12位数字或英文组合</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p><input type="text" name="username" placeholder="重复密码" style="color:#000000; width:220px;" /></p>
                            <span>重复密码错误</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <input type="button" value=" 注册 " class="btn btn-primary" style="width:220px; " />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label><input type="checkbox" name="rememberme" checked="checked" />我已经看过并同意《用户协议》</label>
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <div class="modal-footer">
                注册成功---正在登陆~~~666
            </div>
        </div>
    </div>
</div>

<!-- register end -->



<script type="text/javascript" src="/js/handler/index/index_handler.js"></script>
<script type="text/javascript">
var handler = null;
$(function () {
	
	handler = new IndexHandler();
	handler.initLogin();
});
</script>


 </body>
</html>



